.apps
{
  margin-top: 50px;
}

.app:nth-child(even)
{
  float: right;
}

.app:last-child:nth-child(odd)
{
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.app
{
  width: 46%;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 1%;
  border: 1px solid $color-0;
  border-radius: 10px;
  vertical-align:top;
  margin-bottom: 3%;


  h2
  {
    font-family: $secondary-font;
    font-size: 40px;
    color: #222;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }

  img
  {
    display: block;
    height: 100px;
    margin: auto;
  }

  p
  {
    text-align: center;
    color: $main-color;
  }
}

.app:hover
{
  text-decoration: none;
}

 @media screen and (max-width: 740px)
 {
   .app
   {
     width: 100%;
   }
 }
