/*********************************************
 * GLOBAL STYLES
 *********************************************/

html, body
{
  height: 100%;
}

body
{
	font-family: $main-font;
	color: $main-color;
  background: #fff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  margin: 0;
}

/*********************************************
 * Headers
 *********************************************/

header.landing
{
	text-align: center;
	position: relative;
  margin-bottom: 100px;

  #avatar
  {
  	display: inline-block;
  	width: 150px;
  	height: 150px;
  	border-radius: 50%;
  }

  h1
  {
  	font-weight: 400;
  	letter-spacing: 0px;
  	font-size: 90px;
  	color: #222;
  	margin-top: 0;
  	margin-bottom: 20px;
  }

  h2
  {
  		font-size: 20px;
  	  font-weight: 300;
  	  color: #888;
  	  margin-top: 10px;
  		font-family: 'Raleway', sans-serif;
  	  font-style: normal;
  }
}

/*********************************************
 * Sections
 *********************************************/

section.landing
{
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;

  article
  {
    float: none;
    max-width: inherit;

    h1, h2, h3, h4, h5, h6
    {
      text-align: center;
    }

    h1
    {
      font-size: 50px;
    }
  }
}

section.landing:first-child
{
  margin-top: 60px;
}

section
{
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;

  article
  {
    float: right;
    max-width: 650px;
    width: 100%;
    font-size: 1rem;

    h1, h2, h3, h4, h5, h6
    {
      text-align: left;
    }

    header
    {
      border-bottom: 1px solid $color-3;

      h1
      {
        margin-bottom: 10px;
      }

      h2
      {
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }

}

aside
{
  float: left;
  width: 210px;
  margin-top: 28px;

  nav
  {
    padding: 12px 0;
    border-bottom: 1px solid $color-3;
  }

  nav:last-child
  {
    border: 0;
  }

  h3
  {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 20px;
  }

  ul
  {
    font-size: 0.8rem;
    font-weight: 400;
    list-style-type: none;
    padding: 0;
  }

  li
  {
  	color: $main-color;
  }

  li:hover,
  li.active
  {
    color: $color-4;
    width: 100%;
  }

  a:hover
  {
    text-decoration: none;
  }
}

/*********************************************
 * Footer
 *********************************************/

footer
{
	padding: 40px 0 30px;
	clear: both;
}

/*********************************************
 * Navigation
 *********************************************/

nav.main-nav
{
	margin: 0 auto;
	text-align: right;
	z-index: 100;
  height: 50px;
	border-bottom: 1px solid $color-0;

  a
  {
  	top: 8px;
  	right: 6px;
  	padding: 8px 12px;
  	color: $color-2;
  	font-size: 15px;
  	line-height: 1.35;
  	border-radius: 3px;
    text-decoration: none;
    display: inline-block;
  }

  a:hover,
  a.active
  {
  	background: $color-2;
  	color: white;
    text-decoration: none;
  }

  .main-nav-title
  {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    line-height: 50px;
    font-family: $secondary-font;
    color: #000;
    font-size: 30px;
  }

  .main-nav-left
  {
    text-align: left;
    float: left;
    height: 50px;

    img
    {
      display: inline-block;
      height: 50px;
    }

    a
    {
      padding: 0;
    }

    a:hover,
    a.active
    {
      background: transparent;
      color: $color-2;
      text-decoration: none;
    }
  }

  .main-nav-right
  {
    height: 50px;
    text-align: right;
    float: right;
    margin-top: 7px;
    margin-right: 20px;
  }
}

nav.main-nav-home
{
   border-bottom: 1px solid transparent !important;
}

/*********************************************
 * Content
 *********************************************/

p,
pre,
blockquote,
ol,
dl,
ul,
h1,
h2,
h3,
h4,
h5,
h6
{
  margin-top: 15px;
  margin-bottom: 15px;
}

/*********************************************
 * HEADERS
 *********************************************/

h1
{
	font-family: $secondary-font;
	font-size: 40px;
	color: #222;
	font-weight: 400;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 60px;

  :first-child
  {
    margin-top: 0;
  }
}

h2
{
	font-family: $main-font;
  color: #666;
	font-weight: 800;
  font-size: 20px;
  margin-bottom: 40px;
	text-align: center;
	font-variant-ligatures: none;
	margin-top: 60px;
}

h3, h4, h5
{
  color:#333;
}

h3
{
  font-size:20px; font-weight: 400;
}

h4
{
  font-size:16px; font-weight:bold;
}

h5
{
  font-size:15px; font-weight: bold;
}

h6
{
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}

/*********************************************
 * Paragraph
 *********************************************/

p
{
  line-height: 1.75;
}

p.small
{
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
	text-align: center;
	margin-top: 20px;
}

/*********************************************
 * List
 *********************************************/

ol,
dl,
ul
{
    text-align: left;
    padding-left: 20px;
}

li
{
    margin-bottom: 12px;
    list-style-position:inside;
}

ol
{
    list-style-type: decimal;
}

ol > li
{
    text-align: left;
}

ul
{
    list-style-type: disc;
}

ul ul
{
    list-style-type: disc;
    margin-top: 12px;
}

ol ol
{
    margin-top: 20px;
}

ul ul ul
{
    list-style-type: disc;
}

ul ul,
ul ol,
ol ol,
ol ul
{
    display: block;
    margin-left: 20px;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 40px;
}

dl.inline dt,
dl.inline dd
{
    float: left;
    margin: 0 0.5em 0 0;
    background: #ccc
}

dl.inline dd + dt,
dl.inline dd + dd
{
    clear: left
}

dl.inline dd + dd
{
    float: none
}

dl.inline dt
{
    font-weight: bold
}

/*********************************************
 * Links
 *********************************************/

a
{
	text-decoration: none;
	color: $color-2;
}

a:hover
{
	text-decoration: underline;
	color: $color-4;
}

/*********************************************
 * Quote
 *********************************************/

blockquote
{
	padding-left: 15px;
	border-left: 3px solid #eee;
}

/*********************************************
 * Code
 *********************************************/

code
{
	font-family: $monospace-font;
	background-color:#EEE; font-size:14px;
	padding: 4px;
	font-weight: 600;
}

pre
{
	font-family: $monospace-font;
	white-space:pre-wrap;
	padding:20px;
	overflow:auto;
	border-radius: 3px;
	background: #272b2d;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
	color: #d0d4d7;
}

/*********************************************
 * Tables
 *********************************************/

table
{
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	font-size: 13px;
	line-height: 1.5em;
}

th, td
{
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td, td
{
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}

tr > td
{
	border-top: 1px solid #eaeaea;
}

tr:nth-child(odd) > td
{
	background: #fcfcfc;
}

thead th, th
{
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	border-bottom: 1px solid #dadadc;
	cursor: default;
	white-space: nowrap;
}

/*********************************************
 * Others
 *********************************************/

b, strong
{
	font-weight: 800;
}

em, i
{
  font-style: italic;
}

hr {
	display: block;
	border: none;
	height: 1px;
	margin: 40px auto;
	background: #eee;
}

img
{
	max-width: 100%;
	border-radius: 3px;
}


/* Media Queries */
@media screen and (max-width: 740px)
{
  section.landing
  {
    padding: 0 20px 0 20px;
  }

  header.landing
  {
    h1
    {
      font-size: 4rem;
    }
  }

  h1
  {
    font-size: 2.5rem;
  }
}

/* CUSTOM ADDITIONS */

#social
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.symbol
{
    color: $color-3;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 0.3rem;
}

a.symbol:hover {
    color: $color-2;
}

/*********************************************
 * Scrollbar
 *********************************************/

 /** initial setup **/
 .nano {
   position : relative;
   width    : 100%;
   height   : 100%;
   overflow : hidden;
 }
 .nano > .nano-content {
   position      : absolute;
   overflow      : scroll;
   overflow-x    : hidden;
   top           : 0;
   right         : 0;
   bottom        : 0;
   left          : 0;
 }
 .nano > .nano-content:focus {
   outline: thin dotted;
 }
 .nano > .nano-content::-webkit-scrollbar {
   display: none;
 }
 .has-scrollbar > .nano-content::-webkit-scrollbar {
   display: block;
 }
 .nano > .nano-pane {
   background : rgba(0,0,0,.1);
   position   : absolute;
   width      : 10px;
   right      : 0;
   top        : 0;
   bottom     : 0;
   visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
   opacity    : .01;
   -webkit-transition    : .2s;
   -moz-transition       : .2s;
   -o-transition         : .2s;
   transition            : .2s;
   -moz-border-radius    : 0px;
   -webkit-border-radius : 0px;
   border-radius         : 0px;
 }
 .nano > .nano-pane > .nano-slider {
   background: #444;
   background: rgba(0,0,0,.2);
   position              : relative;
   margin                : 0 1px;
   -moz-border-radius    : 0px;
   -webkit-border-radius : 0px;
   border-radius         : 0px;
 }
 .nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
   visibility : visible\9; /* Target only IE7 and IE8 with this hack */
   opacity    : 0.99;
 }

@import '_apps';
