$main-font: 'Raleway', sans-serif;
$secondary-font: 'Dancing Script', 'cursive';
$monospace-font: 'Menlo', 'Monaco', Courier;

$main-color: #888;
$color-3: #dddddd;

$color-0: #e6d4cc;
$color-1: #c49a86;
$color-2: #b16d4e;
$color-4: #7f4f38;

@import '../../themes/cooking-lesson-theme/static/sass/theme';
