$main-font: 'Raleway', sans-serif;
$secondary-font: 'Dancing Script', 'cursive';
$monospace-font: 'Menlo', 'Monaco', Courier;

$main-color: #888;
$color-0: #edeafb;
$color-1: #d4cdf5;
$color-2: #b6aaee;
$color-4: #a495ea;
$color-3: #dddddd;

@import '../../themes/cooking_lesson_theme/static/sass/theme';
