<aside>
	{{ $currentPage := . }}
	{{ range .Site.Menus.docs }}

	<nav>
		<h3>{{ .Name }}</h3>

		<ul>
			{{ range .Children }}
				<a href="{{ .URL }}">
					<li {{if $currentPage.IsMenuCurrent "docs" . }} class="active" {{ end }}>
						{{ .Name }}
					</li>
				</a>
			{{ end }}
		</ul>
	</nav>

	{{ end }}

</aside>
