<footer>
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
        © Copyright {{.Site.Params.year}} {{ .Site.Params.name }}
    {{ end }}
    </p>
</footer>
