<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<script src="{{ .Site.BaseURL }}js/scroller.js"></script>
<script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
<!-- <script>hljs.initHighlightingOnLoad();</script> -->

<script>
$(document).ready(function() {
  $('pre code').each(function(i, block) {hljs.highlightBlock(block);});
  $(".nano").nanoScroller({ alwaysVisible: true });
});
</script>

{{ range .Site.Params.customJS }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}

{{ template "_internal/google_analytics.html" . }}
